@import "../base/variable";
@import "../base/media-query";

footer{
    .social{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

    h2{
        color: $color-orange;
        font-size: large;
        font-weight: 150;
        font-family: 'Montserrat', sans-serif;
        margin: 20px;
    }

    img{
        margin: 10px;
        padding: 10px;
        transition: 1s;
    }

    img:hover{
        transform: translate(10px);
    }
}
