@import "../base/variable";
@import "../base/media-query";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: $color-orange;
        font-size: 18px;
    }

    nav {

        .logo{
            width: 20rem;
            height: 65px;
        }
        
        ul {
            list-style: none;
            display: flex;
            order: 5;

            li {
                padding: 20px;

                a {
                    text-decoration: none;
                    color: $color-orange !important;
                    text-transform: uppercase;
                    border: solid 1px $color-orange;
                    border-radius: 5px;

                    &:hover {
                        color: white !important;
                        background-color: $color-orange;
                    }
                }
            }
        }
    }
}