@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    text-align: center;
    gap: 10px;
    display: grid;
    /*FILAS*/
    grid-template-rows: 200px 200px;
    /*COLUMNAS*/
    grid-template-columns: 50% 50%;
}

.sobremi {
    grid-template-areas:
        "imgsobremi"
        "titulosobremi"
        "textosobremi"
        "textosobremidos"
        "textosobremitres"
    ;
}

    .imgsobremi{
        grid-area: imgsobremi;
    }

    .titulosobremi{
        grid-area: titulosobremi;
    }

    .textosobremi{
        grid-area: textosobremi;
    }

    .textosobremidos{
        grid-area: textosobremidos;
    }

    .textosobremitres{
        grid-area: textosobremitres;
    }