@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    text-align: center;
    gap: 10px;
    display: grid;
    /*FILAS*/
    grid-template-rows: 200px 200px;
    /*COLUMNAS*/
    grid-template-columns: 50% 50%;
}