@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    text-align: center;
    gap: 10px;
    display: grid;
    /*FILAS*/
    grid-template-rows: 200px 200px;
    /*COLUMNAS*/
    grid-template-columns: 50% 50%;
}

.sobremi {
    grid-template-areas:
        "imgsobremi"
        "titulosobremi"
        "textosobremi"
        "textosobremidos"
        "textosobremitres"
    ;
}

    .imgsobremi{
        grid-area: imgsobremi;
    }

    .titulosobremi{
        grid-area: titulosobremi;
    }

    .textosobremi{
        grid-area: textosobremi;
    }

    .textosobremidos{
        grid-area: textosobremidos;
    }

    .textosobremitres{
        grid-area: textosobremitres;
    }

    .nutriplus{
        display: grid;
        grid-template-areas: 
        "imagen"
        "titulo"
        "textouno"
        "textodos"
        "textotres"
        "textocuatro"
        "textocinco"
        "textoseis"
        "textosiete"
        "textoocho"
        "textonueve"
        "textodiez"
        "imagendos"
        ;
    }

        .imagen{
            grid-area: imagen;
        }
    
        .titulo{
            grid-area: titulo;
        }
    
        .textouno{
            grid-area: textouno;
        }
    
        .textodos{
            grid-area: textodos;
        }
    
        .textotres{
            grid-area: textotres;
        }
    
        .textocuatro{
            grid-area: textocuatro;
        }
    
        .textocinco{
            grid-area: textocinco;
        }
    
        .textoseis{
            grid-area: textoseis;
        }
    
        .textosiete{
            grid-area: textosiete;
        }
    
        .textoocho{
            grid-area: textoocho;
        }
        
        .textonueve{
            grid-area: textonueve;
        }
    
        .textodiez{
            grid-area: textodiez;
        }
    
        .imagen_dos{
            grid-area: imagendos;
        }
    